<div class="container">
	<div class="page-header">
		<p class="lead">
			<img src="images/customers2.png" height="20" alt="Customers"><br>
		</p>
	</div>
	<p>Example CRUD RESTful web application with AngularJS front-end</p>

	<p>Used technologies:</p>

	<p>Server Side:</p>

	<ul>
		<li>Spring MVC</li>
		<li>Spring Data</li>
		<li>Hibernate</li>
		<li>HSQLDB</li>
		<li>JUnit</li>
		<li>Mockito</li>
		<li>Maven</li>
	</ul>

	<p>Client side:</p>

	<ul>
		<li>AngularJS</li>
		<li>Bower</li>
		<li>Grunt</li>
	</ul>
	<p>Default access the deployed web application at: http://localhost:8080/customers-database/</p>
	<p>Default access the REST API at: http://localhost:8080/customers-database/api/customers</p>
</div>
<div ng-include="'footer.html'"></div>